html, body {
    margin: 0px;
    height: 100vw;
    width: 100vh;
}
/*poop*/
body {
    background-image: url("../images/404_background.png") !important;
    background-size: auto 100vh;
    background-repeat: no-repeat;
}
