@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

* {
    user-select: none;
}

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0px !important;
    background: rgb(34,34,34);
    background: linear-gradient(0deg, #12151c 0%, rgba(0,0,0,1) 100%);
    cursor: default !important;
}

#navbar {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    height: 96px;
    width: calc(100vw - 48px);
    position: fixed;
    left: 24px;
    top: 0px;
    border-bottom: solid 2px rgb(64, 64, 64);
}

.gradient-text {
    background: #D185FF;
    background: linear-gradient(to right, #D185FF 8%, #51CBFF 100%);
    background-clip: text;
    color: transparent;
    font-family: 'Instrument Sans';
    text-shadow: 0px 0px 20px rgba(81,203,255,0.87);
}

#navbar .gradient-text {
    display: flex;
    align-content: center !important;
    flex-direction: row;
    height: 96px;
    margin: 0px;
    margin-right: 24px;
    float: left;
    font-size: 36px;
    margin: 0px 18px 0px 0px;
    display: block;
    font-weight: 600;
    margin-left: 24px;
    text-shadow: none;
}

.navbar-item-top {
    font-family: 'Instrument Sans';
    display: flex;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    display: inline-flex;
    align-content: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    float: left;
    height: 48px;
    margin: 0px;
    margin-right: 24px;
    line-height: 96px;
    height: 96px;
    align-content: center !important;
    position: relative;
    text-shadow: none;
    transition: text-shadow 0.4s ease-in-out;
}


.dropdown {
	transition: transform 0.4s ease-in-out 1ms, opacity 0.4s ease-in-out, text-shadow 0.4s ease-in-out;
	position: absolute;
	display: block;
	top: 79px;
	transform: TranslateY(+0px);
	left: -28px;
	padding: 0px 12px 4px 12px;
	border-radius: 12px;
	backdrop-filter: blur(1.5px);
	background-color: rgba(0, 0, 0, 0.2);
	opacity: 1;
	border: solid 1px #2F2F2F;
	width: max-content;
	min-width: 120px;
}

.navbar-item:not(.navbar-item-top) {
    line-height: 48px;
}

.navbar-item-top:has(.dropdown:not(hidden)) {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
}

.navbar-item {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0);
}

#center {
    position: fixed;
    top: 50%;
    left: 42px;
    transform: TranslateY(-50%);
}

#center .gradient-text {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 12px;
}

.dropdown.hidden {
    transform: translateY(calc(-100% - 96px));
    opacity: 0;
}

.text {
    font-family: 'Instrument Sans';
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    display: block;
}

.dropdown .notch {
	position: absolute;
	left: -28px;
	top: -38px;
	height: 61px;
}