@font-face {
    font-family: SamsungOne;
    src: url(../fonts/SamsungOne-400.ttf);
}

@font-face {
    font-family: SamsungSharpSans;
    src: url(../fonts/samsungsharpsans.otf);
}

html,   
body {
    margin: 0px;
    height: 100vh;
    width: 100vw;
}

body {
    background-image: url("/images/home_background.png") !important;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: #2d4b76;
    backdrop-filter: blur(96px);
}

#navbar {
    position: absolute;
    top: 36px;
    left: 50vw;
    transform: TranslateX(-50%);
    background-color: #03030C;
    border: 8px solid #1A1A1C;
    border-radius: 9999px;
    height: 96px;
    width: 75vw;
}

#navbar-logo {
    float: left;
    height: 72px;
    width: 72px;
    border-radius: 9999px;
    position: relative;
    margin: 12px;
}

.navbar-item {
    color: #fff;
    font-family: SamsungSharpSans;
    height: 72px;
    width: 96px;
    border-radius: 24px;
    float: left;
    margin: 12px;
}

.navbar-item:hover {
    backdrop-filter: brightness(130%);
}
