@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0px !important;
    background: rgb(34,34,34);
    background: linear-gradient(18deg, rgba(34,34,34,1) 0%, rgba(0,0,0,1) 100%);
}

#navbar {
    height: 96px;
    width: calc(100vw - 36px);
    position: fixed;
    left: 18px;
    top: 0px;
    border-bottom: solid 2px rgba(255, 255, 255, 64);
}

.gradient-text {
    background: #D185FF;
    background: linear-gradient(to right, #D185FF 8%, #51CBFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Instrument Sans';
}

#navbar .gradient-text {
    float: left;
    font-size: 60px;
    margin: 18px 18px 18px 0px;
    display: block;
}