html, body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

body {
    background-image: url("/images/tango_background.png") !important;
    background-size: cover;
    backdrop-filter: blur(36px);
}

#sidebar {
    position: fixed;
    left: 24px;
    top: 50%;
    transform: TranslateY(-50%);
    background-color: #201949;
    backdrop-filter: blur(12px);
    border: 5px solid #403771;
    border-radius: 20px;
    height: 288px;
    width: 96px;
    padding: 12px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#sidebar img {
    width: 96px;
    height: 96;
}